# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env


# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Info Folder
/ContestInfo/
/functions
/files
# Database Setup Script (Contains Secrets)
setup_database.js

.env.local

# Setup Scripts with Secrets
set_database.js
setup_storage.js
update_users_schema.js
setup_dating.js
fix_memberships.js
fix_circles.js
fix_circles.js
fix_memberships.js